.Mood {
    border: 0;
    background: inherit;
}

.Mood .mood-1 {
    color: var(--mood-1);
}

.Mood .mood-2 {
    color: var(--mood-2);
}

.Mood .mood-3 {
    color: var(--mood-3);
}

.Mood .mood-4 {
    color: var(--mood-4);
}

.Mood .mood-5 {
    color: var(--mood-5);
}

.Mood .selected {
    border-radius: 1rem;
    padding: 0.25rem;
    color: white;
}

.Mood .selected.mood-1 {
    background-color: var(--mood-1);
}

.Mood .selected.mood-2 {
    background-color: var(--mood-2);
}

.Mood .selected.mood-3 {
    background-color: var(--mood-3);
}

.Mood .selected.mood-4 {
    background-color: var(--mood-4);
}

.Mood .selected.mood-5 {
    background-color: var(--mood-5);
}